.adjustment {
  position: relative;
  left: 11px;
}

.errors {
  color: red;
}

.submissionItem {
  font-size: 24px !important;
  color: red !important;
  cursor: pointer;
  display: block;
}

.submissionTitle {
  font-size: 48px;
}

.submissionContent {
  font-size: 36px;
}

.responseContent {
  font-size: 24px;
}

.formStatus {
  background-color: #D8D8D8;
  width: 100% !important;
  height: 100% !important;
  position: relative;
  z-index: 0;
}

.submissionFormContainer {
  opacity: 1;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.submissionFormInner {
  opacity: 1;
  color: black;
  position: relative;
  top: 80px;
  z-index: 5;
  width: 60%;
  padding: 20px;
  opacity: 1;
  background-color: white;
  margin: 0 auto;
  border-radius: 8px;
}

.submissionFormInner > h3 {
  text-align: center;
}

.submissionFormInner > form > label {
  color: black !important;
}

.closeColor {
  opacity: 1;
  color: red !important;
  cursor: pointer;
  position: relative;
}

.newSubmissionButton {
  position: relative;
  left: 30px;
}

.inlined {
  display: inline-block;
}

.boundary {
  border-radius: 5px;
  padding: 0 10px;
  background-color: #d8d8d8;
}

.addDescriptor {
  position: relative;
  bottom: 5px;
  left: 32px;
  font-size: 18px;
}

.arrow-left {
  position: relative;
  bottom: -3;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #d8d8d8;
}
